body {
font-family: Arial;
margin: 0;
background: #f4f4f4;
}

header {
background: #0a2540;
color: white;
padding: 20px;
text-align: center;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

.hero {
background: url('images/image1.jpg');
color: white;
padding: 100px;
text-align: center;
}

section {
padding: 40px;
}

.property-card {
background: white;
padding: 20px;
margin: 20px;
border-radius: 10px;
box-shadow: 0 0 10px gray;
}

.gallery img {
width: 30%;
margin: 10px;
border-radius: 10px;
}

form input, textarea {
width: 100%;
padding: 10px;
margin: 10px 0;
}

button {
background: #0a2540;
color: white;
padding: 10px;
border: none;
}

.whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
background: green;
color: white;
padding: 15px;
text-decoration: none;
border-radius: 50px;
}